.biography-section {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.8),
    rgb(0, 0, 0)
  );

  color: white;
  text-align: center;
  width: 100%;
  overflow: hidden; /* Prevent overflow */
}

.info-text {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 30px;

  h1 {
    margin: 0;
    padding: 0;
  }
  .span-text {
    color: aqua;
  }
}

.my-self {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
}

.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Icons do not block interactions */
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.tech-stack {
  .tech-icon-container {
    overflow: hidden;
    padding-left: 100px;
    padding-right: 100px;
    .card {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      font-size: 30px;
      margin: 10px 20px;

      transition: transform 0.3s ease, color 0.3s ease;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      .subtitle {
        font-size: 20px;
        font-weight: normal;
      }
    }

    .card:hover {
      transform: scale(1.2);
      color: aqua;

      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for emphasis */
    }

    .tech-icons {
      border: 2px solid #ccc;
      border-radius: 20%;
      padding: 20px;
    }
  }
}

.tech-icon-wrapper {
  display: ruby;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust based on the number of icons */
  }
}

.custom-icon {
  position: absolute;
  font-size: 70px;
  color: rgba(255, 255, 255, 0.1); /* Faint icon appearance */
  transform: translate(
    -50%,
    -50%
  ); /* Center the icon at the specified position */
  animation: fade 3s infinite ease-in-out; /* Optional animation */
}

/* Optional animation for fade in and out */
@keyframes fade {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
