/* src/styles/App.css */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 80px; /* Add padding to account for fixed navbar */
}

@media (max-width: 480px) {
  .hero {
    min-height: 50vh;
  }
  .hero-word {
    padding-top: 200px;
  }

  .big-text {
    font-size: 30px;
  }

  .small-text {
    font-size: 10px;
  }

  .social-links {
    gap: 8px;
  }

  .icon {
    font-size: 18px;
  }
}
