.navbar {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  width: 100%; /* Ensure the navbar spans the full width */
  top: 0;
  z-index: 1000;
  text-align: center; /* Center the content inside the navbar */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  
}

.nav-items {
  display: inline-flex; /* Change to inline-flex to respect text alignment */
  list-style-type: none;
  margin: 0 auto; /* Center the nav-items horizontally */
  padding: 15px;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.322); /* Optional: Add a subtle shadow */
  background-color: rgba(0, 255, 255, 0.096);
  border-radius: 25px;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-items li {
  margin: 0 20px; /* Equal gap between items */
  
}

li,
a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  
}
.nav-items li a {
  text-decoration: none;
 
  font-size: 18px; /* Default font size */
  transition: font-size 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}
.nav-items li a:hover {
  font-size: 20px; /* Increase font size on hover */
  color: #007bff; /* Optional: Change text color on hover */
}
.empty {
  color: #fff;
  margin-right: 40px;
}

.nav-items li a:hover {
  color: #ffd700;
}

/* For very small screens (e.g., <480px) */
@media (max-width: 768px) {
  .site-logo {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: center;
  }
  .empty {
    display: none;
  }
}
