.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
  position: relative;
  min-height: 100vh;
  height: auto;

  .double-side {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
}
.title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  z-index: -1; /* Make sure the overlay is behind the content */
}

.right-side {
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
  .about-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .title {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  .subtitle {
    margin-top: -20px;
    font-size: 20px;
    color: yellow;
    margin-bottom: 20px;
  }
  .description {
    font-size: 16px;
    margin-bottom: 10px;
    color: wheat;
  }
  .technology {
    font-size: 16px;
    color: aqua;
    font-weight: bolder;
  }
}

.left-side {
  padding-left: 100px;
  .swiper {
    width: 600px;
    height: 750px;
  }

  .inside-card {
    position: relative;
    align-self: self-end;
    color: yellow;
    font-weight: normal;
    padding-bottom: 10px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide:nth-child(1n) {
    background-image: url("../assets/projects/organic-quest.png");
    background-size: cover;
    border: 2px solid;
    border-color: rgb(255, 208, 0);
  }

  .swiper-slide:nth-child(2n) {
    background-image: url("../assets/projects/online checking.jpg");
    border: 2px solid;
    background-size: cover;
    border-color: rgb(0, 253, 84);
  }

  .swiper-slide:nth-child(3n) {
    background-image: url("../assets/projects/departure.jpg");
    border: 2px solid;
    background-size: cover;
    border-color: aqua;
  }

  .swiper-slide:nth-child(4n) {
    background-image: url("../assets/projects/countdown.jpg");
    border: 2px solid;
    background-size: cover;
    border-color: rgb(255, 0, 212);
  }

  .swiper-slide:nth-child(5n) {
    background-image: url("../assets/projects/blade.jpg");
    border: 2px solid;
    background-size: cover;
    border-color: rgb(255, 94, 0);
  }

  .swiper-slide:nth-child(6n) {
    background-image: url("../assets/projects/osindi.jpg");
    border: 2px solid;
    background-size: cover;
    border-color: rgb(97, 255, 49);
  }

  .swiper-slide:nth-child(7n) {
    background-image: url("../assets/projects/water.jpg");
  }

  .swiper-slide:nth-child(8n) {
    background-image: url("../assets/projects/legacy defenders.jpg");
  }

  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }

  .swiper-slide:nth-child(10n) {
  }
}

@media (max-width: 1500px) {
  .left-side .swiper {
    width: 400px;
    height: 550px;
  }

  .swiper-slide {
    font-size: 18px; /* Reduce font size in the slides */
  }

  .title h1 {
    /* Even smaller title for very small screens */
  }

  .about-project {
    font-size: 0.8rem; /* Further reduce text size in the project description */
  }
}

@media (max-width: 1024px) {
  .double-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .left-side {
    padding: 30px;
  }

  .right-side {
    width: 80%;
    .about-project {
      display: flex;
      flex-direction: column;
      justify-content: center;

      align-items: center;
    }
  }

  .title h1 {
    font-size: 1.5rem;
    /* Smaller font for smaller screens */
  }

  .about-project {
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks children vertically */
    align-items: start;
    justify-content: center; /* Centers children vertically */
    text-align: center; /* Centers text within children */

    margin: 0 auto; /* Centers the container itself */

    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 768px) {
  .left-side .swiper {
    height: 250px;
    width: 300px;
  }

  .swiper-slide {
    font-size: 18px; /* Reduce font size in the slides */
  }

  .title h1 {
    font-size: 1.2rem; /* Even smaller title for very small screens */
  }

  .about-project {
    font-size: 0.8rem; /* Further reduce text size in the project description */
  }
}
